/*
#open{
    -fx-background-color: greenyellow; 
    
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;    
}
#play{
    -fx-background-color: greenyellow; 
    
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;    
}
#pause{
    -fx-background-color: greenyellow; 
    
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;    
}
#stop{
    -fx-background-color: greenyellow; 
   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;    
}
#exit{
    -fx-background-color: greenyellow; 
    
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;    
}*/